.overlay-content
    .container.topics
        .row
            .col-md-12
                a.close( href="#close" title="Close" data-select-results-close="close" )
                h2 Topics
                ol.alphabet
                    each val in ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]
                        li
                            a( href=val data-select-results-letter=val ) #{val}

        .row
            .col-md-2
            .col-md-8
                .topics-target( data-select-results-topics="" )
                    ol.items
                        each val in ["9/11", "accident", "act up", "activism", "AIDSaids", "Al Jazeera", "amsterdam", "anarchist", "bookfair 2010", "anonymous", "archiveart", "art of campaigning", "austerity", "Austria", "avantgarde", "avatar"]
                            li
                                a( href=val ) #{val}
            
            .col-md2


    .container.collections
        .row
            .col-md-2
            .col-md-8
                h2 Collections
                ul
                    li 
                        em Anna Devon
                        h3 
                            a( href="collection.html" ) So called gun safety
                    li
                        em Mike Lanning
                        h3 
                            a( href="collection.html" ) There’s no such thing as free beer
                    li
                        em Kurt Geiger
                        h3 
                            a( href="collection.html" ) The right to be offended
                    li
                        em Fran Fanny
                        h3 
                            a( href="collection.html" ) East-west parallels
                    li
                        em Lady Gaga
                        h3 
                            a( href="collection.html" ) Confusing unrealities
                    li
                        em Mister X
                        h3 
                            a( href="collection.html" ) Now I’m out of collection titles

            .col-md-2
                a.close( href="#close" title="Close" data-select-results-close="close" )

    
    .container.filter
        .row
            .col-md-2
            .col-md-8
                h2 Filter
                ul
                    li 
                        a( href="list.html" ) All
                    li 
                        a( href="list.html" ) Articles
                    li 
                        a( href="videos.html" ) Videos
                    li 
                        a( href="list.html" ) Files
                    li 
                        a( href="list.html" ) Pictures
                    li 
                        a( href="list.html" ) Peoples
                    li 
                        a( href="list.html" ) Events
                    li 
                        a( href="list.html" ) Campaigns

            .col-md-2
                a.close( href="#close" title="Close" data-select-results-close="close" )

