//- Load mixins
//include ../mixins

//- Load variables
block variables
    - var title = title ? ( title + " - TMF" ) : "TMF";
    - var bodyClass = bodyClass || "";
    - var mainClass = mainClass || "";

doctype html
html
    head
        meta( charset="utf-8" )
        meta( http-equiv="X-UA-Compatible" content="IE=edge" )

        title=title

        link( rel="icon" href="/favicon.png" )
        link( rel="shortcut icon" href="/favicon.ico" )

        meta( name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" )

        link( href=config.paths.assets.css+"/styles.css" rel="stylesheet" type="text/css" )

    body( class=bodyClass )
        .page-layout
            header.page-layout__header
                include header
                include navigation

            main.page-layout__main
                .main-content( class=mainClass )
                    block main

            footer.page-layout__footer
                include footer

            script( src=config.paths.assets.js+"/main.js" )
            
            .overlay
                block overlay
